* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Numans", sans-serif;
}

a {
    text-decoration: none;
}

button {
    font-family: "Numans", sans-serif;
}

#app {
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.promo-block {
    height: 60px;
    width: 234px;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--gray);
    text-align: center;
    padding: 1.3rem 0;
    margin: 0 auto 8rem auto;
}


/**
* Colors and Backgrounds
*/

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.success-color {
    color: var(--success-color) !important;
}

.warning-color {
    color: var(--warning-color) !important;
}

.danger-color {
    color: var(--danger-color) !important;
}

.primary-bg {
    background-color: var(--primary-color) !important;
}

.secondary-bg {
    background-color: var(--secondary-color) !important;
}

.success-bg {
    background-color: var(--success-color) !important;
}

.warning-bg {
    background-color: var(--warning-color) !important;
}

.danger-bg {
    background-color: var(--danger-color) !important;
}


/**
* Text Utils
*/

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.font-weight-lighter {
    font-weight: lighter;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-bolder {
    font-weight: bolder;
}
